/*
 Theme Name:   Twenty Twelve Child
 Theme URI:    http://cathyscanlon.com/themes
 Description:  Twenty Fifteen Child Theme
 Author:       Cathy Scanlon
 Author URI:    http://cathyscanlon.com
 Template:     twentytwelve
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         Light, Grey, responsive
 Text Domain:  twenty-fifteen-child
*/
@import url("../twentytwelve/style.css");
/*@import url('bootstrap/css/bootstrap.css'); 
@import url('bootstrap/css/bootstrap-responsive.css');*/

body {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 16px;
}

.main-navigation li a {
    text-transform:none;
}

#main {
    width: 90%;    
    margin-left: auto;
    margin-right: auto; 
}

.page .entry-title { 
    display: none; 
}

#privacy-icon {
    float: left;
    width: 250px;
    z-index:-9999;
}

#privacy-icon img {
    float: left;
    height:50px;
    margin:0;
    margin-left:10px;
}

#social-icons-top {
    float: right;
    width: 195px;
    z-index:-9999;
}

#social-icons-top img {
    float: right;
    height:32px;
    width: 32px;
    margin:0;
    margin-left:10px;
}

.site-header h1 {
    font-size: 26px;
    font-size: 1.857142857rem;
    line-height: 1.0;
    margin-bottom:0;
}

.header-image-cust {
	width: 250px; 
	display: block;
    margin-left: auto;
    margin-right: auto;	
    box-shadow: none;
}

.main-navigation a {
    font-size: 16px;
}

.main-navigation .current-menu-item > a,
.main-navigation .current-menu-ancestor > a,
.main-navigation .current_page_item > a,
.main-navigation .current_page_ancestor > a {
	color: #FF6600;
	font-weight: bold;
}

.main-navigation a:hover,
.main-navigation a:focus {
	color: #FF6600;
}

/*footer*/

#footwrapper {
    width: 100%;    
    height: 50px;
    padding-bottom: 50px;
    position: fixed;
    left: 0;
    right: 0;
    clear: both;
} 

.footerFloat {
    width: 33%;
    float: left;
    min-width:300px;
    text-align: center;
}

.footerFloat p {
    font-size: 12px;
}

.footerFloatLeft {
    text-align: left;
}

.footerFloatRight {
    text-align: right;
}

#sidebar-support, #sidebar-app {
    float: right;
    padding: 5% 0 3%;
    width: 200px;
}

#sidebar-front {
    float: right;
    padding: 5% 0 3%;
    width: 200px;
}
#sidebar-support h2, #sidebar-support h4, #sidebar-app h2, #sidebar-app h4 {
    padding-bottom:10px;
    padding-top:10px;
}

#sidebar-support h2, #sidebar-app h2 {
    text-transform: uppercase;
}

#sidebar-support ul li, #sidebar-app p {
    font-size: 15px;
    padding-bottom:8px;
}

#sidebar-support h4, #sidebar-app h4 {
    font-size: 15px;
}

#sidebar-app a img {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}

#sidebar-app h2 {
    padding-top: 20px;
}

.sidebar-none #sidebar-app { 
    display: none; 
}

.sidebar-none #sidebar-support { 
    display: none; 
}

.sidebar-none #sidebar-front { 
    display: none; 
}

@media screen and (max-width: 980px) { 
    #sidebar-app, #sidebar-support { 
        margin-right: 3%; 
        max-width: 14%; 
    } 
    .sidebar1 #content { 
        max-width: 54% !important; 
    } 
} 

@media screen and (max-width: 760px) { 
    #sidebar-app, #sidebar-support { 
        margin: 0; 
        width: 100%; 
        max-width: 100%; 
        float: none; 
        clear: both; 
    } 
    .sidebar1 #content { 
        max-width: 100% !important; 
    } 
}

.content-front-cust {
	padding-left: 80px;
}

.app-page-links {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}

